<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <title>Go Cash</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar" style="color:white; background-color: #1c6b11; font-style: bold;">
        <div class="container">
            <span class="navbar-brand" style="color:white; font-style: bold; font-family: Arial, sans-serif;">Go Cash</span>
        </div>
    </nav>
    <div class="container" style="background-color:white;">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>